@model CriarViewModel

<form method="post" asp-action="Criar" target="_self">

    <div class="form-horizontal">
        <h2>Cadastrar nova Pessoa</h2>
        <div class="form-group">
            <label class="col-md-2">Nome</label>
            <div class="col-md-10">
                @*@Html.TextBoxFor gera um componente html TextBox da propriedade Nome
                    que só aparece porque coloquei @model e o nome da model em que está
                    a propriedade*@

                @*<input asp-for="Nome" class="form-control"/>*@

                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">RG</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.RG, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">CPF</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Telefone</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Nome da Mãe</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomeMae, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Nome do Pai</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomePai, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" id="cadastrar"class="btn-success col-md-2" value="Cadastrar" />
    </div>
</form>