@model EditarViewModel

<form method="post" asp-action="Editar" >

    <div class="form-horizontal">
        <h2>Editar Pessoa</h2>
        <div class="form-group">
            <label class="col-md-2">Id</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Nome</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">RG</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.RG, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">CPF</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Telefone</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Nome da Mãe</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomeMae, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Nome do Pai</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomePai, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="col-md-2">Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <input type="submit" id="salvar" class="btn-success col-md-2" value="Salvar" />
        @*<button id="salvar" class="btn-success col-md-2">Salvar</button>*@
    </div>
</form>